.flex-container {
  display: flex;
 flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color:white;
  width: 600px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.title{
   font-weight: bold;
}
.img_logo{
   width: 30px;
   text-align: center;
}
.div_logo{
  text-align: left;
  display: none;
}
.filterDiv{
  text-align: left;
}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
